<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View</title>
</head>
<body>
    <div class="container">
        <div class="table" >
            <thead class="thread-dark">
            <tr>
            <th>Book Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        </thead>
            <% for(var i=0; i < data.length;i++)
            {%>
                <tr>
                    <td><%=data[i].Bookid%></td>
                    <td><%=data[i].Name%></td>
                    <td><%=data[i].Author%></td>
                    <td><%=data[i].Publisher%></td>
                    <td><%=data[i].Price%></td>
                    <td><%=data[i].Description%></td>
                </tr>
                
           <% } %>
        </div>
    </div>

    
</body>
</html>